<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Exact Routes" stopProcessing="true">
          <match url="^(about|testimonials|contact|services|news|tours)/?$" ignoreCase="true" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="React Tour Routes" stopProcessing="true">
          <match url="^tours/.+" ignoreCase="true" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="React Routes Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
